src/main/wsdl/AccountDetailsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch0="http://com/blog/samples/webservices/customerservice"
	xmlns:sch1="http://webservices.samples.blog.com" xmlns:sch2="http://customer.webservices.samples.blog.com"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/blog/samples/webservices/customerservice"
	targetNamespace="http://com/blog/samples/webservices/customerservice">
	<wsdl:types>
		<xsd:schema xmlns="http://com/blog/samples/webservices/customerservice"
			xmlns:account="http://webservices.samples.blog.com" xmlns:customer="http://customer.webservices.samples.blog.com"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://com/blog/samples/webservices/customerservice">
			<xsd:import namespace="http://webservices.samples.blog.com" />
			<xsd:import namespace="http://customer.webservices.samples.blog.com" />
			<xsd:element name="AccountRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="accountNumber" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AccountResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="AccountDetails" type="account:Account" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CustomerRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CustomerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerDetails" type="customer:Customer" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xs:schema xmlns="http://webservices.samples.blog.com"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="qualified" targetNamespace="http://webservices.samples.blog.com">
			<xs:element name="Account" type="Account" />
			<xs:complexType name="Account">
				<xs:sequence>
					<xs:element name="AccountNumber" type="xs:string" />
					<xs:element name="AccountName" type="xs:string" />
					<xs:element name="AccountBalance" type="xs:double" />
					<xs:element name="AccountStatus" type="EnumAccountStatus" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="EnumAccountStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Active" />
					<xs:enumeration value="Inactive" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema xmlns="http://customer.webservices.samples.blog.com"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="qualified" targetNamespace="http://customer.webservices.samples.blog.com">
			<xs:element name="Customer" type="Customer" />
			<xs:complexType name="Customer">
				<xs:sequence>
					<xs:element name="Name" type="xs:string" />
					<xs:element name="Email" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="AccountRequest">
		<wsdl:part element="tns:AccountRequest" name="AccountRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CustomerResponse">
		<wsdl:part element="tns:CustomerResponse" name="CustomerResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CustomerRequest">
		<wsdl:part element="tns:CustomerRequest" name="CustomerRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AccountResponse">
		<wsdl:part element="tns:AccountResponse" name="AccountResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PortTypeName">
		<wsdl:operation name="Account">
			<wsdl:input message="tns:AccountRequest" name="AccountRequest">
			</wsdl:input>
			<wsdl:output message="tns:AccountResponse" name="AccountResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Customer">
			<wsdl:input message="tns:CustomerRequest" name="CustomerRequest">
			</wsdl:input>
			<wsdl:output message="tns:CustomerResponse" name="CustomerResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PortTypeNameSoap11" type="tns:PortTypeName">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Account">
			<soap:operation soapAction="" />
			<wsdl:input name="AccountRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AccountResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Customer">
			<soap:operation soapAction="" />
			<wsdl:input name="CustomerRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CustomerResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiceName">
		<wsdl:port binding="tns:PortTypeNameSoap11" name="PortTypeNameSoap11">
			<soap:address
				location="http://localhost:8080/spring-webservices-sample/endpoints" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>